<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Liste des Clients</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" 
th:href="@{/css/bootstrap.min.css}"/>

<link rel="stylesheet" type="text/css" href="../static/css/MyStyle.css" 
th:href="@{/css/MyStyle.css}"/>

</head>
<body>
<div class="container spacer">
   <a th:href="@{form}">Saisir un client</a>
   <br/>
   <a th:href="@{delete}">Supprimer un client</a>
</div>
<div class="container spacer">
<form th:action="@{index}"  method="get">
<div class="form-group">
   <label>Mot clé:</label>
   <input type="text" name="motCle"  th:value="${motCle}"/>
   <button type="submit">chercher</button>

</div>


</form>

</div>
<div class="container spacer">
<table class="table table-striped">
<thead>
<tr><th>ID</th><th>Nom</th><th>Date</th><th>Email</th></tr>
</thead>

<tbody>
<tr th:each="c:${pageclients.content}">
<td th:text=${c.id}></td>
<td th:text=${c.nom}></td>
<td th:text=${c.dateNaissance}></td>
<td th:text=${c.email}></td>
</tr>
</tbody>
</table>
</div>
<div class="container">
<ul class="nav nav-pills">
<li th:each="p:${pages}" th:class="${p==pagecourante}?active:''">
<a  th:text="${p}" th:href="@{index(page=${p},motCle=${motCle})}"></a>
</li>
</ul>
</div>
</body>
</html>